@media screen and (max-width: 320px) {
	body {
	  font-family: Verdana,Helvetica,sans-serif;
	  background: #ccc;
	}
	.expand_menu {
   		margin-top: 0px;
	}
	.mobile_menu {
      display:block;
	  cursor:pointer;
	/*  width:100%;*/
	  border:1px solid #ccc;
      background-color:#000;
	  color:#fff;
	  font-weight:bold;
    }
	.mobile_menu span {
	  padding-left:5px;
	  font-size:14px;
	}
	.menu {
	  margin:0px;
	  width:100%;
      background-color:#000;
	  height:auto;
	  padding:0px;
	}
    .menu li {
	  float: none;
      width: 85%;
	  padding:10px;
    }
	.menu li a{
      color:#fff;
	}
	.expand_menu { 
	  display:none;  
	}
	.login_status {
      display:none;
    }
	.colum-1 , .colum-2,  .colum-3, .colum-4
	{
		width:100%;
		margin-left: 15px;
		margin-right: 0;
	}

	.footer_top {
		background-color:#D9EBF7;
		/*min-height:615px;*/
	}
}

@media screen and (min-width: 1024px) { 
img, media {
  max-width: 100%;
}

/* No files to import found in partials/components/**\/* */

html {
   font-size: 14px;
}
body {
   background: #ccc none repeat scroll 0 0;
   font-family: Verdana,Helvetica,sans-serif;
   line-height: 1.5rem;
}
.wrapper {
   background: #fff;
   max-width: 980px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;

}
.l-region--header {
  float:none !important;
  width:100% !important;
}
.site-logo {
    text-align: center;
	
}

.login_status {
    float: right;
	padding-right: 20px;
}
.login_status a {
  color:#154273;
}

.mobile_menu {
  display:none;
}
.expand_menu {
  margin-top: 23px;
  display:block;
}
.menu {
  margin-top:10px;
  border:1px solid #ccc;
  background-color:#000;
  height:32px;
  padding-left: 0px;
}
.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}
.menu li {
  float:left;
  padding:10px;
  line-height: 13px;
}
.menu li a{
  color:#fff;
  text-decoration:none;
  padding:5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans",sans-serif;

	 letter-spacing: 0.75px;
}

.l-main, .l-footer {
    padding:5px;
}
.content_bottom{
   width: 98%;
   margin-left: auto;
   margin-right: auto;
   border:1px solid #b3d4fc;
}
.footer_top  ul {
 padding:0px;
}
.footer_top  li {
  list-style:none;
}
.footer_top  li a{
  color:#154273;
}
.footer_top {
  background-color:#D9EBF7;
 /* min-height:200px;*/
}
.grid1, .grid2, .grid3, .grid4{
	display: inline;
    float: left;
    position: relative;
}
.colum-1 {
  margin-left: 20px;
  margin-right: 0;
  width: 30%;
}
.colum-2 {
  margin-left: 5px;
  margin-right: 0;
  width: 30%;
}
/*.colum-3 {
  margin-left: 15px;
  margin-right: 0;
  width: 25%;
}*/
.colum-4 {
  margin-left: 15px;
  margin-right: 0;
  width: 30%;
}
.footer_bottom {
    height: 36px;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    width: 100%;
}
 
}

.clear{ clear:both; }